<div class="section relative min-h-[40px] text-black w-full shadow-sm hidden lg:block">
  <div class="bg-white shadow-2xl">
    <div class="flex items-center max-w-[1248px] justify-between h-[40px] m-auto relative text-[14px] font-semibold">
      <!-- Dropdown Item -->
      <div class="group relative h-full flex items-center justify-center grow cursor-pointer">
        <span class="flex items-center h-full">Electronics <i class="ri-arrow-down-s-line ml-1"></i></span>
        <!-- Dropdown Menu -->
        <div class="absolute top-full left-0 hidden group-hover:block bg-white shadow-md z-20 w-[220px] py-2">
          <ul class="text-sm text-gray-800">
            <a href="mobile.html" id="mobiles">
              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                Mobiles
              </li>
            </a>
            <a href="laptop.html" id="laptops">
              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                Laptops
              </li>
            </a>
            <a href="camera.html" id="cameras">
              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                Cameras
              </li>
            </a>
            <a href="tablet.html" id="tablets">
              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                Tablets
              </li>
            </a>
            <a href="powerbank.html" id="pbanks">
              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                Power Banks
              </li>
            </a>
          </ul>
        </div>
      </div>
      <!-- TVs & Appliances -->
      <div class="group relative h-full flex items-center justify-center grow cursor-pointer">
        <span class="flex items-center h-full">TVs & Appliances <i class="ri-arrow-down-s-line ml-1"></i></span>
        <div class="absolute top-full left-0 hidden group-hover:block bg-white shadow-md z-20 w-[220px] py-2">
          <ul class="text-sm text-gray-800">
            <a href="television.html">
              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                Televisions
              </li>
            </a>
            <a href="washingmachine.html">
              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                Washing Machines
              </li>
            </a>
            <a href="refrigerator.html">
              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                Refrigerators
              </li>
            </a>
            <a href="ac.html">
              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                Air Conditioners
              </li>
            </a>
          </ul>
        </div>
      </div>
      <!-- Men -->
      <div class="group relative h-full flex items-center justify-center grow cursor-pointer">
        <a href="shirt.html"><span class="flex items-center h-full">Men <i
              class="ri-arrow-down-s-line ml-1"></i></span></a>
        <div class="absolute top-full left-0 hidden group-hover:block bg-white shadow-md z-20 w-[220px] py-2">
          <ul class="text-sm text-gray-800">
            <a href="tshirt.html">
              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                T-Shirts
              </li>
            </a>
            <a href="shirt.html">
              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                Shirts
              </li>
            </a>
            <a href="">
              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                Jeans
              </li>
            </a>
            <a href="">
              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                Watches
              </li>
            </a>
          </ul>
        </div>
      </div>
      <!-- Women -->
      <div class="group relative h-full flex items-center justify-center grow cursor-pointer">
        <span class="flex items-center h-full">Women <i class="ri-arrow-down-s-line ml-1"></i></span>
        <div class="absolute top-full left-0 hidden group-hover:block bg-white shadow-md z-20 w-[220px] py-2">
          <ul class="text-sm text-gray-800">
            <a href="">
              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                Kurtas
              </li>
            </a>
            <a href="">
              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                Sarees
              </li>
            </a>
            <a href="">
              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                Jeans
              </li>
            </a>
            <a href="">
              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                Handbags
              </li>
            </a>
          </ul>
        </div>
      </div>
      <!-- Baby & Kids -->
      <div class="group relative h-full flex items-center justify-center grow cursor-pointer">
        <span class="flex items-center h-full">Baby & Kids <i class="ri-arrow-down-s-line ml-1"></i></span>
        <div class="absolute top-full left-0 hidden group-hover:block bg-white shadow-md z-20 w-[220px] py-2">
          <ul class="text-sm text-gray-800">
            <a href="">
              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                Toys
              </li>
            </a>
            <a href="">
              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                Baby Clothes
              </li>
            </a>
            <a href="">
              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                School Supplies
              </li>
            </a>
          </ul>
        </div>
      </div>
      <!-- Home & Furniture -->
      <div class="group relative h-full flex items-center justify-center grow cursor-pointer">
        <span class="flex items-center h-full">Home & Furniture <i class="ri-arrow-down-s-line ml-1"></i></span>
        <div class="absolute top-full left-0 hidden group-hover:block bg-white shadow-md z-20 w-[220px] py-2">
          <ul class="text-sm text-gray-800">
            <a href="bedsheet.html">
              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                Bedsheets
              </li>
            </a>
            <a href="">
              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                Curtains
              </li>
            </a>
            <a href="furniture.html">
              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                Furniture
              </li>
            </a>
          </ul>
        </div>
      </div>
      <!-- Sports, Books & More -->
      <div class="group relative h-full flex items-center justify-center grow cursor-pointer">
        <span class="flex items-center h-full">Sports, Books & More <i class="ri-arrow-down-s-line ml-1"></i></span>
        <div class="absolute top-full left-0 hidden group-hover:block bg-white shadow-md z-20 w-[220px] py-2">
          <ul class="text-sm text-gray-800">
            <a href="">
              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                Books
              </li>
            </a>
            <a href="">
              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                Stationery
              </li>
            </a>
            <a href="">
              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                Exercise & Fitness
              </li>
            </a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Header -->
  <header class="flex items-center justify-between bg-white p-4 md:hidden ">
    <h1 class="text-[15px] font-semibold">Cateogry</h1>

    <!-- Hamburger Menu Button -->
    <button onclick="toggleMobileMenu()" class="lg:hidden text-white text-2xl">
      <!-- <i class="fas fa-bars"></i> -->
       <span>li</span>
    </button>
  </header>

  <!-- Mobile Category Menu -->
  <div id="mobileMenu" class="lg:hidden bg-white shadow-lg hidden absolute top-16 left-0 w-full z-50">
    <div class="p-4 space-y-3">
      <div class="border-b pb-2">
        <span class="font-medium text-gray-800">Electronics</span>
        <div class="ml-4 mt-2 space-y-1 text-sm text-gray-600">
          <div><a href="mobile.html">Mobiles</a></div>
          <div><a href="laptop.html">Laptops</a></div>
          <div><a href="camera.html">Cameras</a></div>
          <div><a href="tablet.html">Tablets</a></div>
        </div>
      </div>

      <div class="border-b pb-2">
        <span class="font-medium text-gray-800">TVs & Appliances</span>
        <div class="ml-4 mt-2 space-y-1 text-sm text-gray-600">
          <div><a href="television.html">Televisions</a></div>
          <div><a href="washingmachine.html">Washing Machines</a></div>
          <div><a href="refrigerator.html">Refrigerator</a></div>
          <div><a href="ac.html">Air Conditioners</a></div>
        </div>
      </div>

      <div class="border-b pb-2">
        <span class="font-medium text-gray-800">Men</span>
        <div class="ml-4 mt-2 space-y-1 text-sm text-gray-600">
          <div><a href="tshirt.html">T-shirt</a></div>
          <div><a href="shirts.html">Shirts</a></div>
          <div><a href="jeansmen.html">Jeans</a></div>
          <div><a href="watches.html">Watches</a></div>
        </div>
      </div>

      <div class="border-b pb-2">
        <span class="font-medium text-gray-800">Women</span>
        <div class="ml-4 mt-2 space-y-1 text-sm text-gray-600">
          <div><a href="kurtas.html">Kurtas</a></div>
          <div><a href="sarees.html">Sarees</a></div>
          <div><a href="jeanswomen.html">Jeans</a></div>
          <div><a href="handbags.html">Handbags</a></div>
        </div>
      </div>

      <div class="border-b pb-2">
        <span class="font-medium text-gray-800">Baby & Kids</span>
        <div class="ml-4 mt-2 space-y-1 text-sm text-gray-600">
          <div><a href="tshirt.html">Toys</a></div>
          <div><a href="shirts.html">Baby clothes</a></div>
          <div><a href="jeansmen.html">School supplies</a></div>
        </div>
      </div>

      <div class="border-b pb-2">
        <span class="font-medium text-gray-800">Home & Furniture</span>
        <div class="ml-4 mt-2 space-y-1 text-sm text-gray-600">
          <div><a href="bedsheets.html">Bedsheets</a></div>
          <div><a href="shirts.html">Curtains</a></div>
          <div><a href="furniture.html">Furniture</a></div>
        </div>
      </div>

      <div class="border-b pb-2">
        <span class="font-medium text-gray-800">Sports, Books & More</span>
        <div class="ml-4 mt-2 space-y-1 text-sm text-gray-600">
          <div><a href="books.html">Books</a></div>
          <div><a href="stationery.html">Stationery</a></div>
          <div><a href="finess.html">Exercise & Fitness</a></div>
        </div>
      </div>
    </div>
  </div>

<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>