<div class="bg-[#172337] text-white text-sm mt-12">
  <div
    class="max-w-[1200px] mx-auto px-4 lg:px-6 py-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-6 border-b border-gray-700"
  >
    <!-- About -->
    <div class="col-span-1">
      <h4 class="text-gray-400 font-medium uppercase mb-3">About</h4>
      <ul class="space-y-2 text-[12px] lg:text-[13px] text-white/80">
        <li><a href="#" class="hover:text-white">Contact Us</a></li>
        <li><a href="#" class="hover:text-white">About Us</a></li>
        <li><a href="#" class="hover:text-white">Careers</a></li>
        <li><a href="#" class="hover:text-white">Flipkart Stories</a></li>
        <li><a href="#" class="hover:text-white">Press</a></li>
        <li>
          <a href="#" class="hover:text-white">Corporate Information</a>
        </li>
      </ul>
    </div>

    <!-- Group Companies -->
    <div class="col-span-1">
      <h4 class="text-gray-400 font-medium uppercase mb-3">Group Companies</h4>
      <ul class="space-y-2 text-[12px] lg:text-[13px] text-white/80">
        <li><a href="#" class="hover:text-white">Myntra</a></li>
        <li><a href="#" class="hover:text-white">Cleartrip</a></li>
        <li><a href="#" class="hover:text-white">Shopsy</a></li>
      </ul>
    </div>

    <!-- Help -->
    <div class="col-span-1">
      <h4 class="text-gray-400 font-medium uppercase mb-3">Help</h4>
      <ul class="space-y-2 text-[12px] lg:text-[13px] text-white/80">
        <li><a href="#" class="hover:text-white">Payments</a></li>
        <li><a href="#" class="hover:text-white">Shipping</a></li>
        <li>
          <a href="#" class="hover:text-white">Cancellation & Returns</a>
        </li>
        <li><a href="#" class="hover:text-white">FAQ</a></li>
      </ul>
    </div>

    <!-- Policy -->
    <div class="col-span-1">
      <h4 class="text-gray-400 font-medium uppercase mb-3">Consumer Policy</h4>
      <ul class="space-y-2 text-[12px] lg:text-[13px] text-white/80">
        <li>
          <a href="#" class="hover:text-white">Cancellation & Returns</a>
        </li>
        <li><a href="#" class="hover:text-white">Terms Of Use</a></li>
        <li><a href="#" class="hover:text-white">Security</a></li>
        <li><a href="#" class="hover:text-white">Privacy</a></li>
        <li><a href="#" class="hover:text-white">Sitemap</a></li>
        <li>
          <a href="#" class="hover:text-white">Grievance Redressal</a>
        </li>
        <li><a href="#" class="hover:text-white">EPR Compliance</a></li>
      </ul>
    </div>

    <!-- Mail Us -->
    <div class="col-span-1 sm:col-span-2 lg:col-span-1">
      <h4 class="text-gray-400 font-medium uppercase mb-3">Mail Us:</h4>
      <p class="text-[12px] lg:text-[13px] text-white/80 leading-5">
        Flipkart Internet Private Limited,<br />
        Buildings Alyssa, Begonia &<br />
        Clove Embassy Tech Village,<br />
        Outer Ring Road, Devarabeesanahalli Village,<br />
        Bengaluru, 560103,<br />
        Karnataka, India
      </p>
      <h4 class="text-gray-400 font-medium uppercase mt-4 mb-2">Social</h4>
      <div class="flex items-center gap-4 text-lg text-white/80">
        <i class="ri-facebook-fill hover:text-white cursor-pointer"></i>
        <i class="ri-twitter-x-line hover:text-white cursor-pointer"></i>
        <i class="ri-instagram-line hover:text-white cursor-pointer"></i>
        <i class="ri-youtube-fill hover:text-white cursor-pointer"></i>
      </div>
    </div>

    <!-- Registered Address -->
    <div class="col-span-1 sm:col-span-2 lg:col-span-1">
      <h4 class="text-gray-400 font-medium uppercase mb-3">
        Registered Office Address:
      </h4>
      <p class="text-[12px] lg:text-[13px] text-white/80 leading-5">
        Flipkart Internet Private Limited,<br />
        Buildings Alyssa, Begonia & Clove Embassy Tech Village,<br />
        Outer Ring Road, Devarabeesanahalli Village,<br />
        Bengaluru, 560103,<br />
        Karnataka, India<br />
        CIN : U51109KA2012PTC066107<br />
        Telephone:
        <span class="text-blue-400">044-45614700 / 044-67415800</span>
      </p>
    </div>
  </div>

  <!-- Bottom Bar -->
  <div
    class="bg-[#172337] text-white text-xs py-3 px-4 lg:px-6 border-t border-gray-700 flex flex-col lg:flex-row items-center justify-center gap-4"
  >
    <div class="flex flex-wrap items-center justify-center gap-4 lg:gap-6">
      <div class="flex items-center gap-1">
        <i class="ri-briefcase-line text-yellow-400"></i> Become a Seller
      </div>
      <div class="flex items-center gap-1">
        <i class="ri-star-smile-line text-yellow-400"></i> Advertise
      </div>
      <div class="flex items-center gap-1">
        <i class="ri-gift-line text-yellow-400"></i> Gift Cards
      </div>
      <div class="flex items-center gap-1">
        <i class="ri-question-line text-yellow-400"></i> Help Center
      </div>
      <span>© 2007-2025 Flipkart.com</span>
    </div>
    <div class="flex gap-2 items-center flex-wrap justify-center">
      <img
        src="https://img.icons8.com/color/48/000000/visa.png"
        class="h-4 lg:h-5"
      />
      <img
        src="https://img.icons8.com/color/48/000000/mastercard-logo.png"
        class="h-4 lg:h-5"
      />
      <img
        src="https://img.icons8.com/color/48/000000/amex.png"
        class="h-4 lg:h-5"
      />
      <img
        src="https://img.icons8.com/color/48/000000/rupay.png"
        class="h-4 lg:h-5"
      />
      <img
        src="https://img.icons8.com/color/48/000000/cash-on-delivery.png"
        class="h-4 lg:h-5"
      />
    </div>
  </div>
</div>
