   <!-- Mobile search bar (hidden by default) -->
<div
  id="mobileSearchBar"
  class="lg:hidden w-full px-3 pt-2 hidden bg-white transform transition-all duration-300 ease-in-out origin-top scale-y-0 opacity-0"
>
  <div class="flex items-center border border-gray-300 rounded overflow-hidden">
    <input
      id="searchMobile"
      type="text"
      placeholder="Search for products, brands and more"
      onkeydown="if(event.key==='Enter'){ searchProduct(); }"
      class="w-full px-4 py-2 text-sm text-black outline-none"
    />
    <button onclick="searchProduct()" class="bg-[#f1f3f6] px-4 py-2">
      <i class="ri-search-line text-[#2874f0] text-lg"></i>
    </button>
  </div>
</div>