@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.filterclear{
    cursor: pointer;
    font-size: 12px;
    background-color: #e0e0e0;
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 100%, .5);
    border-radius: 3px;
    margin: 2px 4px;
    overflow: hidden;
    transition: 0.1s ease;
    max-width: 200px;
    padding: 8px;
}